.search {
  margin: 30px;
  p {
    margin-bottom: 2px;

    font-weight: bold;
    font-size: 18px;
  }
}
.search_input {
  width: 420px;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 1.5rem;
}
